/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

.col-center {
  float: none;
  margin: 0 auto;
}

#logo {
  display: block;
  margin: 0 auto;
  margin-top: 60px;

  z-index: 1;
  width: 200px;
}

.vert-text {
  display: table-cell;
  padding-top: 20px;
  text-align: center;
}

.vert-text h1 {
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 200;
  padding: 65px 80px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

/* Button */

.btn-red {
  color: #ffffff;
  background-color: #c41411;
  border-color: #8f090c;
  padding-top: 10px;
  padding-bottom: 10px;
}

a.btn-red:hover {
  color: #eee;
  text-decoration: none;
}

/* Typography */
.color-red {
  color: #c41411;
}

.color-grey {
  color: #A3A3A3;
}

.photo-caption {
  font-size: 14px;
  color: white;
  background-color: #8f090c;
  padding: 10px 0;
  max-width: 300px;
  max-width: 500px;
  margin: 0 auto;
}

/* Side Menu */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../goicuon-lores.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Intro */

.intro {
  padding: 50px 0;
}

/* Services */

.services {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/callout.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Portfolio */
.sponsors {
  padding: 50px 0;
  border-bottom: 1px solid #c41411;
}

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}

/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #8f090c;
  padding: 50px 0;
}

.call-to-action a {
  color: #ffffff;
}

.call-to-action a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
}

/* Footer */

footer {
  padding-bottom: 50px;
  font-size: 12px;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}

/* Bootstrap Override */

p, li, td {
  color: #312F2F;
}

h2 {
  font-family: 'Lobster', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 32px;
}

h3 {
  font-size: 22px;
}

a {
  color: #E26464
}

a:hover, a:focus {
  color: #E26464
}

/* Responsive */

@media (max-width: 768px) {

  .header {
    background: url(../goicuon-lores.jpg) no-repeat center center fixed;
  }

  .vert-text h1 {
    padding: 0;
  }

  .callout {
    background: url(../img/callout.jpg) no-repeat center center scroll;
  }

  .map {
    height: 75%;
  }

}

img.map {
  height: auto;
  width: 600px;
  margin: 20px auto 0;
}

.color-white {
  color: #fff;
}

.navbar-default .navbar-nav > li > a.hot {
  font-weight: bold;
  color: #E26464;
}

.navbar-default .navbar-nav > li > a.hot:hover {
  text-decoration: underline;
}

#about p {
  text-align: justify;
}

#about li {
  text-align: justify
}

#top .cta {
  padding: 20px 56px;
}